.venv
limpezaSegundafase/CSVs/Baixados/
limpezaSegundafase/CSVs/Gerados/
# OBS.: Escondi esse CSV pois estava confundindo muito a gente, deixei só o CSV que tinha mais informações exposto no repositório
2.0_dados_abertos_UFRN/1_limpeza_de_dados/databases/docentes_e_avaliação_criptografado.csv
.env
# não precisamos disso !! apenas desses datasets todos juntos em "situacoes-discentes.csv" 
2.0-dados-abertos-UFRN/1-limpeza-de-dados/situacoes_discentes